.backButtonContainer img {
    width: 30px;
}

.backButtonContainer {
    align-items: center;
    aspect-ratio: 1;
    background-color: #fcfcfc;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0,0,0,.24);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 50px;
}
.searchContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchContainer input {
    font-size: 1.1rem;
    font-weight: 300;
    outline: none;
    padding: 5px 5px 5px 10px;
    
}

.inputBorder{
    border-left: 2px solid rgb(19, 121, 230);
}

@media (min-width: 768px) {
    /* Your CSS styles for md-up screens go here */
  
}

  @media (max-width: 599px) {
    /* Your CSS styles for screens smaller than 600px go here */
    .searchContainer{
        margin-top: 20px;
       }
  }
  
  /* CSS for screens that are smaller (sm-up, ≥ 576px) */
  @media (min-width: 576px) {
    /* Your CSS styles for sm-up screens go here */
    
  }